In [ ]:
import sagemaker

import boto3
from sklearn.model_selection import train_test_split

import pandas as pd

In [35]:
import os
from supabase import create_client, Client

url: str = os.environ.get("SUPABASE_URL")
key: str = os.environ.get("SUPABASE_KEY")
supabase: Client = create_client(url, key)

In [36]:
response = supabase.table('POSTS').select("*").execute()

2023-09-19 14:50:15,038:INFO - HTTP Request: GET https://reyaxqjdlwrvrdfzbqkp.supabase.co/rest/v1/POSTS?select=%2A "HTTP/1.1 200 OK"

In [33]:
import pandas as pd

df=pd.DataFrame(response.data)

In [34]:
df

,TITLE,POST_DATE,SCORE,NUM_COMMENTS,UPVOTE_RATIO,OVER_18,YEAR,MONTH,DAY,HOUR,id
0,aita for telling my (42m) daughter (14f) that ...,1695010597,1533,437,0.90,False,2023,9,18,4,16llgzp
1,if your child went on a hunger strike because ...,1694992700,3078,2245,0.91,False,2023,9,17,23,16lfctt
2,that 70’s show and how i met your mother were ...,1695013573,764,329,0.76,False,2023,9,18,5,16lme7i
3,cmv: housing will never be truly affordable so...,1695006889,133,42,0.87,False,2023,9,18,3,16lkaju
4,how did you find out your so was cheating on you?,1694986853,4097,2586,0.90,True,2023,9,17,21,16ld1v4
5,average and ugly people don't owe anyone atten...,1695010553,802,275,0.88,False,2023,9,18,4,16llgfh
6,horror movie trailers shouldn’t be allowed on ...,1694993486,1770,648,0.79,False,2023,9,17,23,16lfn5k

In [ ]:
from sklearn.model_selection import train_test_split