In [12]:
import pandas as pd
train_processed=pd.read_csv("train_processed.csv")
test_processed=pd.read_csv("test_processed.csv")

In [13]:
train_processed

,tokenz,embeddings,n_char,SCORE,NUM_COMMENTS,UPVOTE_RATIO,OVER_18,YEAR,MONTH,DAY,HOUR
0,"['average', 'ugly', 'people', 'owe', 'attentio...","[[-0.013699473, -0.0012734142, 0.02486581, -0....",68,0.168769,0.091588,0.88,0,2023.0,9.0,18.0,4.0
1,"['70', 'meet', 'mother', 'terrible', 'televisi...","[[0.0033129724, -0.009894101, 0.006408757, -0....",66,0.159183,0.112814,0.76,0,2023.0,9.0,18.0,5.0
2,"['find', 'cheat', '?']","[[-0.0056632254, -0.004587428, 0.0051487135, -...",49,1.000000,1.000000,0.90,1,2023.0,9.0,17.0,21.0
3,"['cmv', ':', 'housing', 'truly', 'affordable',...","[[-0.00803172, -0.025593515, -0.0020652995, -0...",114,0.000000,0.000000,0.87,0,2023.0,9.0,18.0,3.0
4,"['horror', 'movie', 'trailer', 'allow', 'telev...","[[-0.0069679674, -0.018057467, 0.0069486476, -...",56,0.412967,0.238208,0.79,0,2023.0,9.0,17.0,23.0

In [14]:
test_processed

,tokenz,embeddings,n_char,SCORE,NUM_COMMENTS,UPVOTE_RATIO,OVER_18,YEAR,MONTH,DAY,HOUR
0,"['aita', 'tell', '(', '42', 'm', ')', 'daughte...","[[-0.016000727, -0.02338674, -0.0052702995, -0...",102,0.353179,0.155267,0.90,0,2023.0,9.0,18.0,4.0
1,"['child', 'go', 'hunger', 'strike', 'wanted', ...","[[0.01866728, 0.0024197074, -0.010504575, -0.0...",139,0.742936,0.865959,0.91,0,2023.0,9.0,17.0,23.0