In [1]:
from sentiment_analysis.machine_learning.components.data_ingestion import DataIngestion

ingestion= DataIngestion(ingestion_type="db",table_name="POSTS")
train_data, test_data=ingestion.run_ingestion()

2023-09-20 15:58:10,650:INFO - running ingestion
2023-09-20 15:58:10,651:INFO - read data from database
2023-09-20 15:58:16,418:INFO - HTTP Request: GET https://reyaxqjdlwrvrdfzbqkp.supabase.co/rest/v1/POSTS?select=%2A "HTTP/1.1 200 OK"
2023-09-20 15:58:16,420:INFO - split data into train and test
2023-09-20 15:58:16,425:INFO - data ingestion completed

In [3]:
from sentiment_analysis.machine_learning.components.data_transformation import DataTransformation

transformer=DataTransformation()
train_processed,test_processed,path=transformer.transform_df(train_data,test_data)

2023-09-20 15:58:19,628:INFO - getting transformer object
2023-09-20 15:58:19,629:INFO - Creating preprocessor object
2023-09-20 15:58:19,629:INFO - processor object created
2023-09-20 15:58:19,629:INFO - preprocessing the data
2023-09-20 15:58:19,797:INFO - preprocessing completed

In [4]:
train_processed

,n_char,tokenz,SCORE,NUM_COMMENTS,OVER_18,UPVOTE_RATIO,YEAR,MONTH,DAY,HOUR
0,68,"[average, ugly, people, owe, attention, relati...",0.168769,0.091588,0,0.88,2023.0,9.0,18.0,4.0
1,66,"[70, meet, mother, terrible, television, .]",0.159183,0.112814,0,0.76,2023.0,9.0,18.0,5.0
2,49,"[find, cheat, ?]",1.0,1.0,1,0.9,2023.0,9.0,17.0,21.0
3,114,"[cmv, :, housing, truly, affordable, long, pro...",0.0,0.0,0,0.87,2023.0,9.0,18.0,3.0
4,56,"[horror, movie, trailer, allow, television]",0.412967,0.238208,0,0.79,2023.0,9.0,17.0,23.0

In [5]:
test_processed

,n_char,tokenz,SCORE,NUM_COMMENTS,OVER_18,UPVOTE_RATIO,YEAR,MONTH,DAY,HOUR
0,102,"[aita, tell, (, 42, m, ), daughter, (, 14f, ),...",0.353179,0.155267,0,0.9,2023.0,9.0,18.0,4.0
1,139,"[child, go, hunger, strike, wanted, eat, fast,...",0.742936,0.865959,0,0.91,2023.0,9.0,17.0,23.0